
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 'Oxanium', cursive; */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 


#backdex {
  background-image: url("./assets/backdex.png");
  background-color: #111111;
  /* height: 500px;   */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
